@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto';
}

.row{
    --bs-gutter-x: 0rem;
}

.gap{
    --bs-gutter-x: 1.5rem;
}

.logo img{
padding: 10px;
    width: 200px;
    height: auto;

}

.menu{
    background-color: black;
    height: 40%;
}

.menu a{
    color: white;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: bolder;
}

.menu a:hover{
    color: orange;
}

.navegacion{
    height: 20%;
    background-color: rgba(0,0,0,0.3);;
}

.invertida{
    filter: invert(100%);
}

.titulo h2{
    font-family: 'Roboto';
    font-weight: bolder;
}

.nav-link{
    font-family: 'Roboto';
    font-weight: bold;
}

.banner-inicio{
    padding: 0;
    width: 100%;
}

.banner-inicio h5{
    font-size: 2rem;
    font-family: 'Roboto';
    font-weight: bold;
}

.banner-inicio p{
    font-size: 1rem;
    font-family: 'Roboto';
}

.banner-inicio img{
    width: 100%;
    height: 700px;
    background-size: cover;
}

.burger-menu{
    background-color: white;
    width: 50px;

}

.carrousel{
    width: 100%;
    padding: 0;
}

.tarjetas{
    padding: 0;
    width: 100%;
}

.tarjetas h2{ 
    font-family: 'Roboto';
    padding-top: 2rem;
    text-align: center;
    justify-content: center;
}

.tarjetas img{
    width: 300px;
    height: 150px;
}

.tarjeta{
    padding-top: 4rem;
    display: flex;
    justify-content: center;
}

.casa-central{
    padding-top: 1rem;
    font-weight: bold;
    justify-content: center;
}

.casa-central p{
    font-family: 'Roboto';
    justify-content: center;
    padding-left: 1rem;
    font-weight: normal;
    text-align: center;
}

.footer{
    padding: 0;
    background-color: black;
}

footer{
    padding:0;
    height: auto;
    width: auto;
    background-color: black;
}

footer p{
    font-family: 'Roboto';
    align-items: center;
    color: white;
    font-size: 1rem;
    
}

footer img{
    width: 30px;
    height: 30px;
}

footer a{
    font-family: 'Roboto';
    text-decoration: none;
    color: white;
}

footer a:hover{
    color: orange;
}

.redes-sociales{
    align-items: center;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.copy{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}


main{
    width: 100%;
    padding-bottom: 5rem;
}


.banner-producto{
    padding: 0;
    width: 100%;
    height: 500px;
}

.banner-producto h5{
    text-align: center;
    justify-content: center;
    font-size: 2rem;
    font-family: 'Roboto';
    font-weight: bolder;
}

.banner-producto p{
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    font-family: 'Roboto';
}

.banner-producto img{
    width: 100%;
    height: 500px;
}

.catalogo-tit h1{
    padding-top: 2rem;
    text-align: center;
    font-size: 2rem;
    font-family: 'Roboto';
    font-weight: bolder;
}

.catalogo{
    text-align: center;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

.catalogo a{
    justify-content: center;
    text-align: center;
}

.catalogo a:hover{
    color: black;
}

.historia{
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.historia h1,h3{
    font-weight: bolder;
    font-family: 'Roboto';

}

.historia h1,p{
    padding-top: 2rem;
    text-align: center;
    font-family: 'Roboto';
}

.mvo{
    padding-top: 3rem;
    text-align: center;
}

.historia img{
    width: 500px;
}

.cita{
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
}

.mvo ul{
    text-align: left;
}

.banner-about{
    padding: 0;
    width: 100%;
}

.banner-about h5{
    text-align: center;
    justify-content: center;
    font-size: 2rem;
    font-family: 'Roboto';
    font-weight: bolder;
}

.banner-about p{
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    font-family: 'Roboto';
}

.banner-about img{
    width: 100%;
    height: 500px;
}

.banner-contacto{
    width: 100%;
    padding: 0;
}

.banner-contacto img{
    width: 100%;
    height: 500px;
}

.formulario{
    padding: 3rem;
}

.formulario h1{ 
    text-align: center;
    font-family: 'Roboto';
    font-weight: bolder;
    font-size: 2rem;
    padding-bottom: 2rem;
}

textarea{
    width: 100%;
    height: 5rem;
}

.btn{
    background-color: black;
    color: white;
}

.btn:hover{
    background-color: orange;
}

.banner-team{
    width: 100%;
    padding: 0;
}

.banner-team img{
    width: 100%;
    height: 600px;
}

.tarjetas-team{
    padding-top: 3rem;
    text-align: center;
}

.tarjetas-team h1{
    font-family: 'Roboto';
    font-weight: bolder;
}

.empleado{
    padding-top: 3rem;
}

.empleado img{
    width: 300px;
    height: 300px;
}

.empleado h5,p{
    padding-top: 1rem;
}

@media(max-width:768px){
    .redes-sociales{
        padding-bottom: 1rem;
    }

    .banner-inicio img{
        height: 400px;
    }

    .banner-producto img{
        height: 500PX;
    }

    .banner-about img{
        height: 400px;
    }

    .historia img{
        width: 300px;
    }

    .banner-contacto img{
        height: 400px;
    }

}

@media(max-width:378px){
    .banner-inicio img{
        height: 400px;
    }

    .banner-producto img{
        height: 400px;
    }

    .historia img{
        height: 300px;
    }

    .banner-about img{
        height: 300px;
    }

    .historia img{
        width: 300px;
        height: 200px;
    }

    .banner-contacto img{
        height: 300px;
    }

    .banner-team img{
        height: 300px;
    }
}