@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
}

.logo img{
padding: 10px;
    width: 200px;
    height: auto;

}

.menu{
    background-color: black;
    height: 40%;
}

.menu a{
    color: white;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: bolder;
}

.menu a:hover{
    color: orange;
}

.navegacion{
    height: 20%;
    background-color: rgba(0,0,0,0.3);;
}

.invertida{
    filter: invert(100%);
}

.banner-inicio{
    padding: 0;
    width: 100%;
}

.banner-inicio h5{
    font-size: 2rem;
}

.banner-inicio p{
    font-size: 1rem;
}

.banner-inicio img{
    width: 100%;
    height: 700px;
    background-size: cover;
}

.burger-menu{
    background-color: white;
    width: 50px;

}

.carrousel{
    width: 100%;
    padding: 0;
}

.tarjetas{
    padding: 0;
    width: 100%;
}

.tarjetas h2{ 
    padding-top: 2rem;
    text-align: center;
    justify-content: center;
}

.tarjetas img{
    width: 300px;
    height: 150px;
}

.tarjeta{
    padding-top: 4rem;
    display: flex;
    justify-content: center;
}

.casa-central{
    padding-top: 1rem;
    font-weight: bold;
    justify-content: center;
}

.casa-central p{
    justify-content: center;
    padding-left: 1rem;
    font-weight: normal;
    text-align: center;
}

.footer{
    padding: 0;
    background-color: black;
}

footer{
    padding:0;
    height: auto;
    width: auto;
    background-color: black;
}

footer p{
    align-items: center;
    color: white;
    font-size: 1rem;
    
}

footer img{
    width: 30px;
    height: 30px;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    color: orange;
}

.redes-sociales{
    align-items: center;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.copy{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}


main{
    width: 100%;
    padding-bottom: 5rem;
}

@media(max-width:768px){
    .redes-sociales{
        padding-bottom: 1rem;
    }

    .banner-inicio img{
        height: 500px;
    }
}

@media(max-width:350px){
    .banner-inicio img{
        height: 300px;
    }
}